<article class="all">
<div class='text-center'>
    <div class='visible'>
	    <h1 class="title">Hola tod@s!</h1>
    </div>
</div>

<div class='row'>
    <button class="btn" onclick="toggle_visibility('monthstimeline')">Comunidad de aprendizaje
    </button>

    <button class="btn" onclick="toggle_visibility('monthssecondtimeline')">32-bit Open Hands
    </button>

</div>
</article>
