<div class='text-center'>
    <h1 class="lo"><%= config.title %></h1>
    <p><%= config.subtitle %></p>

</div>
<div class='row'>
    <button class="btn" onclick="toggle_visibility('monthstimeline')">3 months
    </button>

    <button class="btn" onclick="toggle_visibility('monthssecondtimeline')">6 months
    </button>

    <button class="btn" onclick="toggle_visibility('monthsthridtimeline')">12 months
    </button>

    <button class="btn" onclick="toggle_visibility('monthsfourthtimeline')">24 months
    </button>

    <div id="monthstimeline">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px"
             width="1073px" height="1875.543px" viewBox="0 0 573 1375.543" enable-background="new 0 0 573 1375.543"
             xml:space="preserve">
            <path fill="#A0A0A0" d="M284,646.29V147.817V646.29z"/>
            <g>
                <defs>
                    <rect id="SVGID_1_" width="573" height="800"/>
                </defs>
                <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_" overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_2_)" fill="#A0A0A0" d="M284,647.29c-0.552,0-1-0.447-1-1V147.816c0-0.552,0.448-1,1-1s1,0.448,1,1
		V646.29C285,646.843,284.552,647.29,284,647.29"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.006,377.731c0,8.245-6.684,14.928-14.928,14.928
		s-14.928-6.683-14.928-14.928c0-8.245,6.684-14.928,14.928-14.928S298.006,369.486,298.006,377.731"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="283.078" cy="377.731" r="14.928"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.006,529.857c0,8.245-6.684,14.928-14.928,14.928
		s-14.928-6.683-14.928-14.928s6.684-14.928,14.928-14.928S298.006,521.612,298.006,529.857"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="283.078" cy="529.857" r="14.928"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.928,225.604c0,8.245-6.684,14.928-14.928,14.928
		c-8.245,0-14.928-6.683-14.928-14.928s6.683-14.928,14.928-14.928C292.244,210.677,298.928,217.359,298.928,225.604"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="284" cy="225.604" r="14.928"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="284.039" cy="91.188" r="46.15"/>
            </g>
            <text transform="matrix(1 0 0 1 245.0391 102.1885)" fill="#A0A0A0" font-family='Bebas Neue' font-size="26">3
                months
            </text>
            <polygon fill="#EAF0F0" points="28.447,526.399 208.249,523.399 208.249,395.419 28.447,398.419 "/>
            <g>
                <defs>
                    <rect id="SVGID_3_" width="573" height="800"/>
                </defs>
                <clipPath id="SVGID_4_">
                    <use xlink:href="#SVGID_3_" overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M23.786,359.98h188.405
		c2.591,0,4.691,2.1,4.691,4.691v5.194l8.904,8.351l-8.904,8.35v5.194c0,2.591-2.1,4.692-4.691,4.692H23.786
		c-2.591,0-4.691-2.101-4.691-4.692v-27.089C19.095,362.081,21.195,359.98,23.786,359.98z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M38.518,372.702c0-1.539-0.351-2.349-0.81-2.726
		c-0.459-0.378-1.026-0.378-1.376-0.378c-0.406,0-0.918,0-1.377,0.378c-0.458,0.377-0.81,1.187-0.81,2.726v8.583
		c0,1.593,0.352,2.349,0.81,2.727c0.459,0.378,0.971,0.405,1.377,0.405c0.35,0,0.917-0.027,1.376-0.405s0.81-1.134,0.81-2.727
		V372.702z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M43.486,373.754h-0.944v-1.268c0-1.647,0.324-2.916,0.999-3.806
		c0.512-0.675,1.484-1.512,3.212-1.512c1.215,0,2.267,0.513,2.996,1.377c0.728,0.89,1.187,2.186,1.215,3.698h0.027v0.243h-0.027
		c-0.028,1.268-0.297,2.213-0.703,3.049c-0.404,0.864-0.918,1.566-1.457,2.295c-0.324,0.405-0.648,0.837-0.971,1.35
		c-0.756,1.161-1.377,2.051-1.809,2.888c-0.433,0.864-0.702,1.592-0.837,2.456h5.804v0.945h-6.857
		c0.027-1.296,0.351-2.349,0.837-3.401c0.486-1.053,1.188-2.105,2.051-3.401l0.514-0.756c0.161-0.216,0.323-0.432,0.485-0.675
		c0.54-0.728,1.026-1.349,1.377-2.105c0.351-0.729,0.594-1.566,0.62-2.645v-0.243c-0.08-2.268-1.133-4.104-3.265-4.104
		c-2.133,0-3.267,1.512-3.267,4.347V373.754z M43.486,386.117h7.505v0.945h-8.449v-1.269c0-1.62,0.324-2.969,0.89-4.211
		c0.568-1.241,1.324-2.429,2.268-3.806c0.405-0.567,0.728-1.053,1.053-1.485c0.512-0.674,0.918-1.241,1.215-1.835
		c0.296-0.594,0.459-1.214,0.459-2.078c0-0.324-0.055-0.972-0.271-1.566c-0.243-0.594-0.647-1.08-1.403-1.08
		c-0.297,0-0.703,0-1.053,0.324c-0.351,0.351-0.621,1.053-0.621,2.43v1.268h-0.945v-1.268c0-2.511,0.891-3.725,2.619-3.725
		c1.646,0,2.618,1.484,2.618,3.617c0,1.053-0.216,1.808-0.54,2.483c-0.324,0.674-0.756,1.322-1.295,1.997
		c-0.19,0.243-0.352,0.459-0.514,0.702c-0.161,0.243-0.35,0.486-0.539,0.729c-0.892,1.376-1.647,2.483-2.16,3.644
		c-0.54,1.187-0.837,2.349-0.837,3.86V386.117z"/>
                <rect x="351.345" y="243.84" clip-path="url(#SVGID_4_)" fill="#EAF0F0" width="179.804" height="147.98"/>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M534.769,207.369
		H346.364c-2.592,0-4.691,2.1-4.691,4.691v5.194l-8.904,8.351l8.904,8.35v5.194c0,2.591,2.1,4.692,4.691,4.692h188.404
		c2.591,0,4.691-2.101,4.691-4.692V212.06C539.46,209.469,537.359,207.369,534.769,207.369z"/>
                <rect x="351.345" y="548.041" clip-path="url(#SVGID_4_)" fill="#EAF0F0" width="179.804"
                      height="89.959"/>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M534.769,512.148
		H346.364c-2.592,0-4.691,2.1-4.691,4.691v5.193l-8.904,8.352l8.904,8.35v5.194c0,2.591,2.1,4.691,4.691,4.691h188.404
		c2.591,0,4.691-2.101,4.691-4.691V516.84C539.46,514.248,537.359,512.148,534.769,512.148z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M370.785,529.397v-0.972H372c0.352,0,0.999-0.216,1.485-0.702
		c0.485-0.486,0.891-1.241,0.891-2.43c0-0.081,0-0.27-0.027-0.594c-0.054-0.647-0.27-1.402-0.702-1.97
		c-0.242-0.298-0.539-0.432-0.944-0.432c-0.216,0-0.647,0-0.999,0.377c-0.188,0.189-0.323,0.513-0.459,0.945
		c-0.135,0.432-0.216,1.025-0.216,1.809v1.269h-0.944v-1.269c0-2.727,0.863-4.104,2.618-4.104c1.646,0,2.618,1.62,2.618,3.968
		c0,1.404-0.485,2.43-1.135,3.104c-0.674,0.675-1.511,0.999-2.186,0.999H370.785z"/>
            </g>
            <rect x="376.745" y="217.667" fill="none" width="201.255" height="17.333"/>
            <text transform="matrix(1 0 0 1 376.7451 231.9224)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                SECURITY AND CRYPTO
            </text>
            <rect x="361.999" y="252" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 361.999 259.6006)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. create a
                    <a class="textlinks"
                       href="https://docs.google.com/document/d/1g8O755VSXdV752Z1lZgX5ctbDQbVHfBPYxp7MqhHsWY/edit"
                       target="_blank">cryptography course </a>
                    to
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">be run at the office
                </tspan>
                </a>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. lead the <a
                            class="textlinks"
                            href="https://docs.google.com/document/d/1VmyUrYrBUSQeXTp9d1l2QgcC84ULE1JVpTd7UNaKl98/edit"
                            target="_blank">
                        hardware security group </a>
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">on cyborgs’ project.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3</tspan>
                <tspan x="5.708" y="48" font-family="'OpenSans-Light'" font-size="10">. understand not only the math
                    but
                </tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10">also the ‘current state’ at law and
                </tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10">protocols.</tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10">4. find out which part of security
                </tspan>
                <tspan x="0" y="96" font-family="'OpenSans-Light'" font-size="10">spectrum I like the most.</tspan>
                <tspan x="0" y="108" font-family="'OpenSans-Light'" font-size="10"></tspan>
                <tspan x="0" y="110" font-family="'OpenSans-Light'" font-size="10">5. research about
                    bluethooth
                </tspan>
                <tspan x="0" y="122" font-family="'OpenSans-Light'" font-size="10"><a class="textlinks"
                                                                                      href="http://csrc.nist.gov/publications/nistpubs/800-121-rev1/sp800-121_rev1.pdf"
                                                                                      target="_blank"> security.</a>
                </tspan>
            </text>
            <rect x="34.181" y="407" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 34.1807 414.5996)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. take a
                    <a class="textlinks" href="https://www.coursera.org/course/initprogcpp" target="_blank">course on
                        C++ </a>,
                    an introduc
                </tspan>
                <tspan x="164.277" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">tion.</tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. start learning
                    clojure and func
                </tspan>
                <tspan x="144.951" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">tional programming
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3</tspan>
                <tspan x="5.708" y="48" font-family="'OpenSans-Light'" font-size="10">. keep digging into Oz language
                    and
                </tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10">debuggers.</tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10">4. learn
                    <a class="textlinks" href="https://hexo.io/" target="_blank">Hexo</a>.
                </tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="361.998" y="559.667" fill="none" width="168.336" height="136"/>
            <text transform="matrix(1 0 0 1 361.998 567.2676)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. shadow projects on
                    the office.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. get involved on
                    global
                    projects.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. find sponsors:
                    Thorsten.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. start thinking about
                    cdp.
                </tspan>
                <tspan x="0" y="48" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="37.078" y="370.666" fill="none" width="201.255" height="17.333"/>
            <text transform="matrix(1 0 0 1 37.0781 384.9219)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P2: LANGUAGES AND TECH
            </text>
            <rect x="382.745" y="522.666" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 382.7451 536.9219)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P1: client and team
            </text>
            <path fill="#FFFFFF" d="M297.928,685.936c0,8.245-6.684,14.928-14.927,14.928c-8.244,0-14.928-6.683-14.928-14.928
	s6.684-14.928,14.928-14.928C291.244,671.008,297.928,677.69,297.928,685.936"/>
            <path fill="#A0A0A0" d="M284,1112.764V614.29V1112.764z"/>
            <path fill="#A0A0A0" d="M284,1302.036c-0.552,0-1-0.586-1-1.311V647.601c0-0.724,0.448-1.311,1-1.311s1,0.587,1,1.311v653.125
	C285,1301.45,284.552,1302.036,284,1302.036"/>
            <polygon fill="#EAF0F0" points="27.721,780.522 207.523,778.777 207.523,704.348 27.721,706.093 "/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M23.061,668.909h188.405
	c2.591,0,4.691,2.1,4.691,4.691v5.193l8.903,8.352l-8.903,8.35v5.194c0,2.591-2.101,4.692-4.691,4.692H23.061
	c-2.591,0-4.691-2.102-4.691-4.692v-27.089C18.37,671.009,20.47,668.909,23.061,668.909z"/>
            <rect x="33.455" y="715.929" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 33.4551 723.5293)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. create a
                    <a class="textlinks" href="https://thoughtworks.jiveon.com/groups/climatejustice" target="_blank">
                        climate justice group</a> at
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">the office.</tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. colaborate on
                    <a class="textlinks"
                       href="https://docs.google.com/document/d/13OEsIwlVTEBxS3kmkNxfL0YkPiwOJcYX2vk4OE2z8-4/edit#"
                       target="_blank">global
                        green paper </a>.
                </tspan>
                <tspan x="0" y="36" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="57.353" y="679.595" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 57.3525 693.8506)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P3: climate justice
            </text>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="685.936"
                    r="14.927"/>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="837.001"
                    r="14.928"/>
            <rect x="351.345" y="854.347" fill="#EAF0F0" width="179.804" height="107.653"/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M534.769,818.454H346.364
	c-2.592,0-4.691,2.1-4.691,4.691v5.193l-8.904,8.352l8.904,8.35v5.194c0,2.591,2.1,4.691,4.691,4.691h188.404
	c2.591,0,4.691-2.101,4.691-4.691v-27.089C539.46,820.554,537.359,818.454,534.769,818.454z"/>
            <path fill="#FFFFFF" d="M367.004,840.156c0,1.782-0.378,3.132-1.134,4.076c-0.297,0.352-0.676,0.756-1.269,1.053
	c-0.594,0.324-1.35,0.54-2.322,0.54c-1.942,0-3.022-0.864-3.589-1.593c-0.756-0.944-1.134-2.294-1.134-4.076v-8.583
	c0-1.755,0.378-3.104,1.134-4.076c0.566-0.729,1.646-1.565,3.589-1.565c1.944,0,3.024,0.837,3.591,1.565
	c0.756,0.972,1.134,2.321,1.134,4.076V840.156z M366.06,831.573c0-3.051-1.296-4.697-3.78-4.697c-2.482,0-3.778,1.646-3.778,4.697
	v8.583c0,3.051,1.323,4.725,3.778,4.725c2.457,0,3.78-1.674,3.78-4.725V831.573z"/>
            <path fill="#FFFFFF" d="M370.785,835.703v-0.972H372c0.352,0,0.999-0.216,1.485-0.702c0.485-0.486,0.891-1.241,0.891-2.43
	c0-0.081,0-0.27-0.027-0.594c-0.054-0.647-0.27-1.402-0.702-1.97c-0.242-0.298-0.539-0.432-0.944-0.432
	c-0.216,0-0.647,0-0.999,0.377c-0.188,0.189-0.323,0.513-0.459,0.945c-0.135,0.432-0.216,1.025-0.216,1.809v1.269h-0.944v-1.269
	c0-2.727,0.863-4.104,2.618-4.104c1.646,0,2.618,1.62,2.618,3.968c0,1.404-0.485,2.43-1.135,3.104
	c-0.674,0.675-1.511,0.999-2.186,0.999H370.785z"/>
            <rect x="361.998" y="865.973" fill="none" width="168.336" height="136"/>
            <text transform="matrix(1 0 0 1 361.998 873.5723)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. ask for <a
                            class="textlinks"
                            href="https://docs.google.com/spreadsheets/d/1pWtBBn0d0pFO37kB-5x8Om-HdG5AFKCex5GYxbJsxVk/edit#gid=0"
                            target="_blank">
                        feedback </a> to people I have
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">worked with.</tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. create action items
                    from feedback.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. make a classical
                    music lesson.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. make a philosophy of
                    maths
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10">course.</tspan>
                <tspan x="0" y="72" fill="#313030" font-family="'OpenSans-Light'" font-size="10">5. learn
                    <a class="textlinks" href="http://wstein.org/ent/ent.pdf" target="_blank">number theory </a>
                    and infinity.
                </tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="382.745" y="828.972" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 382.7451 843.2275)" fill="#A0A0A0" font-family="'Bebas Neue" font-size="20">
                personal growth
            </text>
            <path fill="#FFFFFF" d="M297.928,1001.936c0,8.245-6.684,14.928-14.928,14.928s-14.928-6.683-14.928-14.928
	s6.684-14.928,14.928-14.928S297.928,993.69,297.928,1001.936"/>
            <polygon fill="#EAF0F0" points="27.721,1229.932 207.523,1225.13 207.523,1020.348 27.721,1025.149 "/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M23.061,984.909h188.405
	c2.591,0,4.691,2.1,4.691,4.691v5.193l8.903,8.352l-8.903,8.35v5.194c0,2.591-2.101,4.692-4.691,4.692H23.061
	c-2.591,0-4.691-2.102-4.691-4.692v-27.089C18.37,987.009,20.47,984.909,23.061,984.909z"/>
            <rect x="33.455" y="1031.929" fill="none" width="168.335" height="176.071"/>
            <text transform="matrix(1 0 0 1 33.4551 1039.5293)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. create a
                    <a class="textlinks"
                       href="https://docs.google.com/spreadsheets/d/10MltxY8vrO_KvT2vceS-N7hLsIVlg7GuBqOaZnF2EIw/edit#gid=0"
                       target="_blank">book log</a>.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. books to read:
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> a.
                    <a class="textlinks"
                       href="https://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X"
                       target="_blank">the pragmatic
                        programmer</a>.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> b.
                    <a class="textlinks"
                       href="https://www.amazon.com/Hacker-Hoaxer-Whistleblower-Spy-Faces/dp/1781685835"
                       target="_blank">the many faces of
                        anonymous</a>.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> c. <a
                            class="textlinks" href="http://shop.oreilly.com/product/9780596517748.do" target="_blank">
                        javascript: the good parts</a>.
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> d. <a
                            class="textlinks" href="https://www.nostarch.com/hacking2.htm" target="_blank">
                        hacking: the art of explotation </a>.
                </tspan>
                <tspan x="0" y="72" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> e. <a
                            class="textlinks"
                            href="https://books.google.com.ec/books/about/Functional_Thinking.html?id=nObtAwAAQBAJ&source=kp_cover&redir_esc=y"
                            target="_blank">
                        functional thinking </a>.
                </tspan>
                <tspan x="0" y="84" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> f. <a
                            class="textlinks"
                            href="https://books.google.com.ec/books/about/Concepts_Techniques_and_Models_of_Comput.html?id=_bmyEnUnfTsC&source=kp_cover&redir_esc=y"
                            target="_blank">
                        concepts, models and tecniques </a>
                </tspan>
                <tspan x="0" y="96" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> of computer
                    programming.
                </tspan>
                <tspan x="0" y="108" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> g. <a
                            class="textlinks"
                            href="https://books.google.com.ec/books/about/The_Basics_of_Hacking_and_Penetration_Te.html?id=69dEUBJKMiYC&source=kp_cover&redir_esc=y"
                            target="_blank">
                        the basics of hacking </a> and
                </tspan>
                <tspan x="0" y="120" fill="#313030" font-family="'OpenSans-Light'" font-size="10">penetration testing.
                </tspan>
                <tspan x="0" y="132" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> h. <a
                            class="textlinks"
                            href="https://books.google.com.ec/books/about/Clojure_for_the_Brave_and_True.html?id=3C-7oQEACAAJ&source=kp_cover&redir_esc=y"
                            target="_blank">
                        clojure for the brave and true </a>.
                </tspan>
                <tspan x="0" y="144" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. create a booklog
                    for hardware
                </tspan>
                <tspan x="0" y="156" fill="#313030" font-family="'OpenSans-Light'" font-size="10">security.</tspan>
                <tspan x="0" y="168" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. read papers on the
                    crypto course.
                </tspan>
            </text>
            <rect x="124.433" y="995.595" fill="none" width="201.254" height="17.334"/>
            <text transform="matrix(1 0 0 1 124.4331 1009.8506)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                book log
            </text>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="1001.936"
                    r="14.928"/>
        </svg>
    </div>

    <div id="monthssecondtimeline">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px"
             width="1073px" height="1875.543px" viewBox="0 0 573 1375.543" enable-background="new 0 0 573 1375.543"
             xml:space="preserve">
            <path fill="#A0A0A0" d="M284,646.29V147.817V646.29z"/>
            <g>
                <defs>
                    <rect id="SVGID_1_" width="573" height="800"/>
                </defs>
                <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_" overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_2_)" fill="#A0A0A0" d="M284,647.29c-0.552,0-1-0.447-1-1V147.816c0-0.552,0.448-1,1-1s1,0.448,1,1
		V646.29C285,646.843,284.552,647.29,284,647.29"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.006,377.731c0,8.245-6.684,14.928-14.928,14.928
		s-14.928-6.683-14.928-14.928c0-8.245,6.684-14.928,14.928-14.928S298.006,369.486,298.006,377.731"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="283.078" cy="377.731" r="14.928"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.006,529.857c0,8.245-6.684,14.928-14.928,14.928
		s-14.928-6.683-14.928-14.928s6.684-14.928,14.928-14.928S298.006,521.612,298.006,529.857"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="283.078" cy="529.857" r="14.928"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.928,225.604c0,8.245-6.684,14.928-14.928,14.928
		c-8.245,0-14.928-6.683-14.928-14.928s6.683-14.928,14.928-14.928C292.244,210.677,298.928,217.359,298.928,225.604"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="284" cy="225.604" r="14.928"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="284.039" cy="91.188" r="46.15"/>
            </g>
            <text transform="matrix(1 0 0 1 245.0391 102.1885)" fill="#A0A0A0" font-family="Bebas Neue" font-size="26">
                6 months
            </text>
            <polygon fill="#EAF0F0" points="28.447,536.805 208.249,533.566 208.249,395.419 28.447,398.657 "/>
            <g>
                <defs>
                    <rect id="SVGID_3_" width="573" height="800"/>
                </defs>
                <clipPath id="SVGID_4_">
                    <use xlink:href="#SVGID_3_" overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M23.786,359.98h188.405
		c2.591,0,4.691,2.1,4.691,4.691v5.194l8.904,8.351l-8.904,8.35v5.194c0,2.591-2.1,4.692-4.691,4.692H23.786
		c-2.591,0-4.691-2.101-4.691-4.692v-27.089C19.095,362.081,21.195,359.98,23.786,359.98z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M38.518,372.702c0-1.539-0.351-2.349-0.81-2.726
		c-0.459-0.378-1.026-0.378-1.376-0.378c-0.406,0-0.918,0-1.377,0.378c-0.458,0.377-0.81,1.187-0.81,2.726v8.583
		c0,1.593,0.352,2.349,0.81,2.727c0.459,0.378,0.971,0.405,1.377,0.405c0.35,0,0.917-0.027,1.376-0.405s0.81-1.134,0.81-2.727
		V372.702z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M43.486,373.754h-0.944v-1.268c0-1.647,0.324-2.916,0.999-3.806
		c0.512-0.675,1.484-1.512,3.212-1.512c1.215,0,2.267,0.513,2.996,1.377c0.728,0.89,1.187,2.186,1.215,3.698h0.027v0.243h-0.027
		c-0.028,1.268-0.297,2.213-0.703,3.049c-0.404,0.864-0.918,1.566-1.457,2.295c-0.324,0.405-0.648,0.837-0.971,1.35
		c-0.756,1.161-1.377,2.051-1.809,2.888c-0.433,0.864-0.702,1.592-0.837,2.456h5.804v0.945h-6.857
		c0.027-1.296,0.351-2.349,0.837-3.401c0.486-1.053,1.188-2.105,2.051-3.401l0.514-0.756c0.161-0.216,0.323-0.432,0.485-0.675
		c0.54-0.728,1.026-1.349,1.377-2.105c0.351-0.729,0.594-1.566,0.62-2.645v-0.243c-0.08-2.268-1.133-4.104-3.265-4.104
		c-2.133,0-3.267,1.512-3.267,4.347V373.754z M43.486,386.117h7.505v0.945h-8.449v-1.269c0-1.62,0.324-2.969,0.89-4.211
		c0.568-1.241,1.324-2.429,2.268-3.806c0.405-0.567,0.728-1.053,1.053-1.485c0.512-0.674,0.918-1.241,1.215-1.835
		c0.296-0.594,0.459-1.214,0.459-2.078c0-0.324-0.055-0.972-0.271-1.566c-0.243-0.594-0.647-1.08-1.403-1.08
		c-0.297,0-0.703,0-1.053,0.324c-0.351,0.351-0.621,1.053-0.621,2.43v1.268h-0.945v-1.268c0-2.511,0.891-3.725,2.619-3.725
		c1.646,0,2.618,1.484,2.618,3.617c0,1.053-0.216,1.808-0.54,2.483c-0.324,0.674-0.756,1.322-1.295,1.997
		c-0.19,0.243-0.352,0.459-0.514,0.702c-0.161,0.243-0.35,0.486-0.539,0.729c-0.892,1.376-1.647,2.483-2.16,3.644
		c-0.54,1.187-0.837,2.349-0.837,3.86V386.117z"/>
                <rect x="351.345" y="243.84" clip-path="url(#SVGID_4_)" fill="#EAF0F0" width="179.804" height="127.98"/>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M534.769,207.369
		H346.364c-2.592,0-4.691,2.1-4.691,4.691v5.194l-8.904,8.351l8.904,8.35v5.194c0,2.591,2.1,4.692,4.691,4.692h188.404
		c2.591,0,4.691-2.101,4.691-4.692V212.06C539.46,209.469,537.359,207.369,534.769,207.369z"/>
                <rect x="351.345" y="548.041" clip-path="url(#SVGID_4_)" fill="#EAF0F0" width="179.804"
                      height="98.249"/>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M534.769,512.148
		H346.364c-2.592,0-4.691,2.1-4.691,4.691v5.193l-8.904,8.352l8.904,8.35v5.194c0,2.591,2.1,4.691,4.691,4.691h188.404
		c2.591,0,4.691-2.101,4.691-4.691V516.84C539.46,514.248,537.359,512.148,534.769,512.148z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M370.785,529.397v-0.972H372c0.352,0,0.999-0.216,1.485-0.702
		c0.485-0.486,0.891-1.241,0.891-2.43c0-0.081,0-0.27-0.027-0.594c-0.054-0.647-0.27-1.402-0.702-1.97
		c-0.242-0.298-0.539-0.432-0.944-0.432c-0.216,0-0.647,0-0.999,0.377c-0.188,0.189-0.323,0.513-0.459,0.945
		c-0.135,0.432-0.216,1.025-0.216,1.809v1.269h-0.944v-1.269c0-2.727,0.863-4.104,2.618-4.104c1.646,0,2.618,1.62,2.618,3.968
		c0,1.404-0.485,2.43-1.135,3.104c-0.674,0.675-1.511,0.999-2.186,0.999H370.785z"/>
            </g>
            <rect x="376.745" y="217.667" fill="none" width="201.255" height="17.333"/>
            <text transform="matrix(1 0 0 1 376.7451 231.9224)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                SECURITY AND CRYPTO
            </text>
            <rect x="361.999" y="252" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 361.999 259.6006)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. keep on cryptography
                    course.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. create reflections
                    on hardware
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">security group.</tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3</tspan>
                <tspan x="5.708" y="36" font-family="'OpenSans-Light'" font-size="10">. take <a class="textlinks"
                                                                                                href="https://www.coursera.org/learn/cyber-conflicts"
                                                                                                target="_blank">
                        coursera mooc</a> on cyber-
                </tspan>
                <tspan x="0" y="48" font-family="'OpenSans-Light'" font-size="10">conflicts.</tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10">4. take <a class="textlinks"
                                                                                             href="http://scpd.stanford.edu/search/publicCourseSearchDetails.do?method=load&courseId=1284836"
                                                                                             target="_blank">
                        standford course</a> on software
                </tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10">security foundations.</tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="34.181" y="407" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 34.1807 414.5996)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. keep learning <a
                            class="textlinks" href="https://www.coursera.org/learn/programmation-orientee-objet"
                            target="_blank">
                        C++</a>: pointers and
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">OOP.</tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. keep learning
                    clojure and func
                </tspan>
                <tspan x="146.172" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">tional programming
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3</tspan>
                <tspan x="5.708" y="48" font-family="'OpenSans-Light'" font-size="10">. keep digging into Oz language
                    and
                </tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10">debuggers.</tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10">4. dig into design patters.</tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10">5. start learning
                    <a class="textlinks"
                       href="http://csrc.nist.gov/publications/nistpubs/800-121-rev1/sp800-121_rev1.pdf"
                       target="_blank">oCaml</a>.
                </tspan>
                <tspan x="0" y="96" font-family="'OpenSans-Light'" font-size="10">6. find projects that use clojure
                </tspan>
                <tspan x="0" y="108" font-family="'OpenSans-Light'" font-size="10">language.</tspan>
                <tspan x="0" y="120" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="361.998" y="559.667" fill="none" width="168.336" height="136"/>
            <text transform="matrix(1 0 0 1 361.998 567.2676)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. <a class="textlinks"
                                                                                                      href="http://www2.le.ac.uk/offices/red/rd/career-development/research-staff/mentoring/feedback"
                                                                                                      target="_blank">
                        learn to give feedback </a> by using
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">‘how it made you feel’
                    method.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. drive a retro, a
                    showcase or
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">feedback session.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. start working on
                    cdp.
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. keep working with
                    <a class="textlinks" href="https://github.com/claucece/hacking_commands" target="_blank">
                        repo</a> for com
                </tspan>
                <tspan x="152.77" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="72" fill="#313030" font-family="'OpenSans-Light'" font-size="10">mands.</tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="37.078" y="370.666" fill="none" width="201.255" height="17.333"/>
            <text transform="matrix(1 0 0 1 37.0781 384.9219)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P2:
                LANGUAGES AND TECH
            </text>
            <rect x="382.745" y="522.666" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 382.7451 536.9219)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P1:
                client and team
            </text>
            <path fill="#FFFFFF" d="M297.928,685.936c0,8.245-6.684,14.928-14.927,14.928c-8.244,0-14.928-6.683-14.928-14.928
	s6.684-14.928,14.928-14.928C291.244,671.008,297.928,677.69,297.928,685.936"/>
            <path fill="#A0A0A0" d="M284,1112.764V614.29V1112.764z"/>
            <path fill="#A0A0A0" d="M284,1254.643c-0.552,0-1-0.544-1-1.216V647.506c0-0.671,0.448-1.216,1-1.216s1,0.545,1,1.216v605.921
	C285,1254.099,284.552,1254.643,284,1254.643"/>
            <polygon fill="#EAF0F0" points="27.721,780.522 207.523,778.777 207.523,704.348 27.721,706.093 "/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M23.061,668.909h188.405
	c2.591,0,4.691,2.1,4.691,4.691v5.193l8.903,8.352l-8.903,8.35v5.194c0,2.591-2.101,4.692-4.691,4.692H23.061
	c-2.591,0-4.691-2.102-4.691-4.692v-27.089C18.37,671.009,20.47,668.909,23.061,668.909z"/>
            <rect x="33.455" y="715.929" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 33.4551 723.5293)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. read Rae document and
                    create
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">action items for the
                    office.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. found global
                    documents on
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">greening officess.
                </tspan>
                <tspan x="0" y="48" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="57.353" y="679.595" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 57.3525 693.8506)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P3:
                climate justice
            </text>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="685.936"
                    r="14.927"/>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="837.001"
                    r="14.928"/>
            <rect x="351.345" y="854.347" fill="#EAF0F0" width="179.804" height="107.653"/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M534.769,818.454H346.364
	c-2.592,0-4.691,2.1-4.691,4.691v5.193l-8.904,8.352l8.904,8.35v5.194c0,2.591,2.1,4.691,4.691,4.691h188.404
	c2.591,0,4.691-2.101,4.691-4.691v-27.089C539.46,820.554,537.359,818.454,534.769,818.454z"/>
            <path fill="#FFFFFF" d="M367.004,840.156c0,1.782-0.378,3.132-1.134,4.076c-0.297,0.352-0.676,0.756-1.269,1.053
	c-0.594,0.324-1.35,0.54-2.322,0.54c-1.942,0-3.022-0.864-3.589-1.593c-0.756-0.944-1.134-2.294-1.134-4.076v-8.583
	c0-1.755,0.378-3.104,1.134-4.076c0.566-0.729,1.646-1.565,3.589-1.565c1.944,0,3.024,0.837,3.591,1.565
	c0.756,0.972,1.134,2.321,1.134,4.076V840.156z M366.06,831.573c0-3.051-1.296-4.697-3.78-4.697c-2.482,0-3.778,1.646-3.778,4.697
	v8.583c0,3.051,1.323,4.725,3.778,4.725c2.457,0,3.78-1.674,3.78-4.725V831.573z"/>
            <path fill="#FFFFFF" d="M370.785,835.703v-0.972H372c0.352,0,0.999-0.216,1.485-0.702c0.485-0.486,0.891-1.241,0.891-2.43
	c0-0.081,0-0.27-0.027-0.594c-0.054-0.647-0.27-1.402-0.702-1.97c-0.242-0.298-0.539-0.432-0.944-0.432
	c-0.216,0-0.647,0-0.999,0.377c-0.188,0.189-0.323,0.513-0.459,0.945c-0.135,0.432-0.216,1.025-0.216,1.809v1.269h-0.944v-1.269
	c0-2.727,0.863-4.104,2.618-4.104c1.646,0,2.618,1.62,2.618,3.968c0,1.404-0.485,2.43-1.135,3.104
	c-0.674,0.675-1.511,0.999-2.186,0.999H370.785z"/>
            <rect x="361.998" y="865.973" fill="none" width="168.336" height="136"/>
            <text transform="matrix(1 0 0 1 361.998 873.5723)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. finish thesis.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. review action items
                    from feedback.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. learn
                    <a class="textlinks" href="https://en.wikipedia.org/wiki/Computational_complexity_theory"
                       target="_blank">complexity
                        theory</a> and start
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">learning
                    <a class="textlinks" href="https://en.wikipedia.org/wiki/Abstract_algebra" target="_blank"> abstract
                        algebra</a>.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. attend a <a
                            class="textlinks" href="https://www.coursera.org/learn/logic-introduction" target="_blank">
                        logic course </a>.
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10">5. assit <a
                            class="textlinks" href="https://www.defcon.org/" target="_blank">
                        DEFCON </a> or <a class="textlinks"
                                          href="https://en.wikipedia.org/wiki/Chaos_Communication_Congress"
                                          target="_blank">33c3 </a>
                    conferences.
                </tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="382.745" y="828.972" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 382.7451 843.2275)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                personal growth
            </text>
            <path fill="#FFFFFF" d="M297.928,1001.936c0,8.245-6.684,14.928-14.928,14.928s-14.928-6.683-14.928-14.928
	s6.684-14.928,14.928-14.928S297.928,993.69,297.928,1001.936"/>
            <polygon fill="#EAF0F0" points="27.721,1196.528 207.523,1192.492 207.523,1020.348 27.721,1024.384 "/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M23.061,984.909h188.405
	c2.591,0,4.691,2.1,4.691,4.691v5.193l8.903,8.352l-8.903,8.35v5.194c0,2.591-2.101,4.692-4.691,4.692H23.061
	c-2.591,0-4.691-2.102-4.691-4.692v-27.089C18.37,987.009,20.47,984.909,23.061,984.909z"/>
            <rect x="33.455" y="1031.929" fill="none" width="168.335" height="176.071"/>
            <text transform="matrix(1 0 0 1 33.4551 1039.5293)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. review book log and
                    book state.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. books to read:
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> a. <a
                            class="textlinks"
                            href="https://books.google.com.ec/books/about/The_Codebreakers.html?id=3S8rhOEmDIIC&source=kp_cover&redir_esc=y"
                            target="_blank">
                        the code breakers </a>.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> b. <a
                            class="textlinks"
                            href="https://books.google.com.ec/books/about/Inside_Cyber_Warfare.html?id=5LIyXzpKhYsC&source=kp_cover&redir_esc=y"
                            target="_blank">
                        inside cyberwarfare</a>.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> c. <a
                            class="textlinks" href="https://www.sensible.com/dmmt.html" target="_blank">
                        don´t make me think </a>.
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> d. <a
                            class="textlinks"
                            href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882"
                            target="_blank">
                        clean code </a>.
                </tspan>
                <tspan x="0" y="72" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> e. emotional
                    intelligence book.
                </tspan>
                <tspan x="0" y="84" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> f. <a
                            class="textlinks"
                            href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.471.4772&rep=rep1&type=pdf"
                            target="_blank">
                        the algorithm design manual </a>.
                </tspan>
                <tspan x="0" y="96" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. create a backlog for
                    hardware
                </tspan>
                <tspan x="0" y="108" fill="#313030" font-family="'OpenSans-Light'" font-size="10">security protocols.
                </tspan>
                <tspan x="0" y="120" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. keep reading papers
                    on the crypto
                </tspan>
                <tspan x="0" y="132" fill="#313030" font-family="'OpenSans-Light'" font-size="10">course.</tspan>
                <tspan x="0" y="168" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="124.433" y="995.595" fill="none" width="201.254" height="17.334"/>
            <text transform="matrix(1 0 0 1 124.4331 1009.8506)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                book log
            </text>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="1001.936"
                    r="14.928"/>
        </svg>
    </div>

    <div id="monthsthridtimeline">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px" width="1073px" height="1875.543px" viewBox="0 0 573 1375.543"
             enable-background="new 0 0 573 1375.543"
             xml:space="preserve">
            <path fill="#A0A0A0" d="M284,646.29V147.817V646.29z"/>
            <g>
                <defs>
                    <rect id="SVGID_1_" width="573" height="800"/>
                </defs>
                <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_" overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_2_)" fill="#A0A0A0" d="M284,647.29c-0.552,0-1-0.447-1-1V147.816c0-0.552,0.448-1,1-1s1,0.448,1,1
		V646.29C285,646.843,284.552,647.29,284,647.29"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.006,377.731c0,8.245-6.684,14.928-14.928,14.928
		s-14.928-6.683-14.928-14.928c0-8.245,6.684-14.928,14.928-14.928S298.006,369.486,298.006,377.731"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="283.078" cy="377.731" r="14.928"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.006,529.857c0,8.245-6.684,14.928-14.928,14.928
		s-14.928-6.683-14.928-14.928s6.684-14.928,14.928-14.928S298.006,521.612,298.006,529.857"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="283.078" cy="529.857" r="14.928"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.928,225.604c0,8.245-6.684,14.928-14.928,14.928
		c-8.245,0-14.928-6.683-14.928-14.928s6.683-14.928,14.928-14.928C292.244,210.677,298.928,217.359,298.928,225.604"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="284" cy="225.604" r="14.928"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="284.039" cy="91.188" r="46.15"/>
            </g>
            <text transform="matrix(1 0 0 1 245.0391 102.1885)" fill="#A0A0A0" font-family="Bebas Neue" font-size="22">
                12 months
            </text>
            <polygon fill="#EAF0F0" points="28.447,536.805 208.249,533.566 208.249,395.419 28.447,398.657 "/>
            <g>
                <defs>
                    <rect id="SVGID_3_" width="573" height="800"/>
                </defs>
                <clipPath id="SVGID_4_">
                    <use xlink:href="#SVGID_3_" overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M23.786,359.98h188.405
		c2.591,0,4.691,2.1,4.691,4.691v5.194l8.904,8.351l-8.904,8.35v5.194c0,2.591-2.1,4.692-4.691,4.692H23.786
		c-2.591,0-4.691-2.101-4.691-4.692v-27.089C19.095,362.081,21.195,359.98,23.786,359.98z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M38.518,372.702c0-1.539-0.351-2.349-0.81-2.726
		c-0.459-0.378-1.026-0.378-1.376-0.378c-0.406,0-0.918,0-1.377,0.378c-0.458,0.377-0.81,1.187-0.81,2.726v8.583
		c0,1.593,0.352,2.349,0.81,2.727c0.459,0.378,0.971,0.405,1.377,0.405c0.35,0,0.917-0.027,1.376-0.405s0.81-1.134,0.81-2.727
		V372.702z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M43.486,373.754h-0.944v-1.268c0-1.647,0.324-2.916,0.999-3.806
		c0.512-0.675,1.484-1.512,3.212-1.512c1.215,0,2.267,0.513,2.996,1.377c0.728,0.89,1.187,2.186,1.215,3.698h0.027v0.243h-0.027
		c-0.028,1.268-0.297,2.213-0.703,3.049c-0.404,0.864-0.918,1.566-1.457,2.295c-0.324,0.405-0.648,0.837-0.971,1.35
		c-0.756,1.161-1.377,2.051-1.809,2.888c-0.433,0.864-0.702,1.592-0.837,2.456h5.804v0.945h-6.857
		c0.027-1.296,0.351-2.349,0.837-3.401c0.486-1.053,1.188-2.105,2.051-3.401l0.514-0.756c0.161-0.216,0.323-0.432,0.485-0.675
		c0.54-0.728,1.026-1.349,1.377-2.105c0.351-0.729,0.594-1.566,0.62-2.645v-0.243c-0.08-2.268-1.133-4.104-3.265-4.104
		c-2.133,0-3.267,1.512-3.267,4.347V373.754z M43.486,386.117h7.505v0.945h-8.449v-1.269c0-1.62,0.324-2.969,0.89-4.211
		c0.568-1.241,1.324-2.429,2.268-3.806c0.405-0.567,0.728-1.053,1.053-1.485c0.512-0.674,0.918-1.241,1.215-1.835
		c0.296-0.594,0.459-1.214,0.459-2.078c0-0.324-0.055-0.972-0.271-1.566c-0.243-0.594-0.647-1.08-1.403-1.08
		c-0.297,0-0.703,0-1.053,0.324c-0.351,0.351-0.621,1.053-0.621,2.43v1.268h-0.945v-1.268c0-2.511,0.891-3.725,2.619-3.725
		c1.646,0,2.618,1.484,2.618,3.617c0,1.053-0.216,1.808-0.54,2.483c-0.324,0.674-0.756,1.322-1.295,1.997
		c-0.19,0.243-0.352,0.459-0.514,0.702c-0.161,0.243-0.35,0.486-0.539,0.729c-0.892,1.376-1.647,2.483-2.16,3.644
		c-0.54,1.187-0.837,2.349-0.837,3.86V386.117z"/>
                <rect x="351.345" y="243.84" clip-path="url(#SVGID_4_)" fill="#EAF0F0" width="179.804" height="127.98"/>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M534.769,207.369
		H346.364c-2.592,0-4.691,2.1-4.691,4.691v5.194l-8.904,8.351l8.904,8.35v5.194c0,2.591,2.1,4.692,4.691,4.692h188.404
		c2.591,0,4.691-2.101,4.691-4.692V212.06C539.46,209.469,537.359,207.369,534.769,207.369z"/>
                <rect x="351.345" y="548.041" clip-path="url(#SVGID_4_)" fill="#EAF0F0" width="179.804"
                      height="98.249"/>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M534.769,512.148
		H346.364c-2.592,0-4.691,2.1-4.691,4.691v5.193l-8.904,8.352l8.904,8.35v5.194c0,2.591,2.1,4.691,4.691,4.691h188.404
		c2.591,0,4.691-2.101,4.691-4.691V516.84C539.46,514.248,537.359,512.148,534.769,512.148z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M370.785,529.397v-0.972H372c0.352,0,0.999-0.216,1.485-0.702
		c0.485-0.486,0.891-1.241,0.891-2.43c0-0.081,0-0.27-0.027-0.594c-0.054-0.647-0.27-1.402-0.702-1.97
		c-0.242-0.298-0.539-0.432-0.944-0.432c-0.216,0-0.647,0-0.999,0.377c-0.188,0.189-0.323,0.513-0.459,0.945
		c-0.135,0.432-0.216,1.025-0.216,1.809v1.269h-0.944v-1.269c0-2.727,0.863-4.104,2.618-4.104c1.646,0,2.618,1.62,2.618,3.968
		c0,1.404-0.485,2.43-1.135,3.104c-0.674,0.675-1.511,0.999-2.186,0.999H370.785z"/>
            </g>
            <rect x="376.745" y="217.667" fill="none" width="201.255" height="17.333"/>
            <text transform="matrix(1 0 0 1 376.7451 231.9224)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                SECURITY AND CRYPTO
            </text>
            <rect x="361.999" y="252" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 361.999 259.6006)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. reflect on
                    cryptography course.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. take <a
                            class="textlinks"
                            href="http://scpd.stanford.edu/public/category/courseCategoryCertificateProfile.do?method=load&from=courseprofile&certificateId=1145836&"
                            target="_blank">
                        2 more courses </a>
                    from stand
                </tspan>
                <tspan x="154.36" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">ford specialization.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3</tspan>
                <tspan x="5.708" y="36" font-family="'OpenSans-Light'" font-size="10">. start learning about
                    penetration
                </tspan>
                <tspan x="0" y="48" font-family="'OpenSans-Light'" font-size="10">tests and working on them.</tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10">4. start collaborating with LEAP.
                </tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="34.181" y="407" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 34.1807 414.5996)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. start <a
                            class="textlinks" href="https://www.coursera.org/learn/c-plus-plus-a" target="_blank">
                        learning C# </a> and <a class="textlinks" href="https://www.coursera.org/learn/game-programming"
                                                target="_blank"> C </a>.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. keep learning
                    functional program
                </tspan>
                <tspan x="159.893" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">ming</tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3</tspan>
                <tspan x="5.708" y="36" font-family="'OpenSans-Light'" font-size="10">. start learning
                    <a class="textlinks"
                       href="https://www.toptal.com/go/go-programming-a-step-by-step-introductory-tutorial"
                       target="_blank">
                        Go </a> and
                    <a class="textlinks" href="https://c7.se/from-go-to-pony/" target="_blank">pony</a>.
                </tspan>
                <tspan x="0" y="48" font-family="'OpenSans-Light'" font-size="10">4. keep digging into design patters.
                </tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10">5. keep learning oCaml.</tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10">6. find projects that use Go
                    language.
                </tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10">7. learn more about jasmine and
                </tspan>
                <tspan x="0" y="96" font-family="'OpenSans-Light'" font-size="10">capybara tests.</tspan>
                <tspan x="0" y="108" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="361.998" y="559.667" fill="none" width="168.336" height="136"/>
            <text transform="matrix(1 0 0 1 361.998 567.2676)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. learn how to do
                    startegies from
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">communicating with
                    PO.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. create a global
                    network about
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">security.</tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. learn more ways for
                    doing pairing.
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. share with L&amp;L
                    about technologies
                </tspan>
                <tspan x="0" y="72" fill="#313030" font-family="'OpenSans-Light'" font-size="10">that I know.</tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="37.078" y="370.666" fill="none" width="201.255" height="17.333"/>
            <text transform="matrix(1 0 0 1 37.0781 384.9219)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P2:
                LANGUAGES AND TECH
            </text>
            <rect x="382.745" y="522.666" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 382.7451 536.9219)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P1:
                client and team
            </text>
            <path fill="#FFFFFF" d="M297.928,685.936c0,8.245-6.684,14.928-14.927,14.928c-8.244,0-14.928-6.683-14.928-14.928
	s6.684-14.928,14.928-14.928C291.244,671.008,297.928,677.69,297.928,685.936"/>
            <path fill="#A0A0A0" d="M284,1112.764V614.29V1112.764z"/>
            <path fill="#A0A0A0" d="M284,1254.643c-0.552,0-1-0.544-1-1.216V647.506c0-0.671,0.448-1.216,1-1.216s1,0.545,1,1.216v605.921
	C285,1254.099,284.552,1254.643,284,1254.643"/>
            <polygon fill="#EAF0F0" points="27.721,780.522 207.523,778.777 207.523,704.348 27.721,706.093 "/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M23.061,668.909h188.405
	c2.591,0,4.691,2.1,4.691,4.691v5.193l8.903,8.352l-8.903,8.35v5.194c0,2.591-2.101,4.692-4.691,4.692H23.061
	c-2.591,0-4.691-2.102-4.691-4.692v-27.089C18.37,671.009,20.47,668.909,23.061,668.909z"/>
            <rect x="33.455" y="715.929" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 33.4551 723.5293)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. desing an strategy to
                    make office
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">green in accordance to
                    global paper.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. involve into giving
                    talks about mass
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">surveillance.</tspan>
                <tspan x="0" y="48" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="57.353" y="679.595" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 57.3525 693.8506)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P3:
                climate justice
            </text>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="685.936"
                    r="14.927"/>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="837.001"
                    r="14.928"/>
            <rect x="351.345" y="854.347" fill="#EAF0F0" width="179.804" height="107.653"/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M534.769,818.454H346.364
	c-2.592,0-4.691,2.1-4.691,4.691v5.193l-8.904,8.352l8.904,8.35v5.194c0,2.591,2.1,4.691,4.691,4.691h188.404
	c2.591,0,4.691-2.101,4.691-4.691v-27.089C539.46,820.554,537.359,818.454,534.769,818.454z"/>
            <path fill="#FFFFFF" d="M367.004,840.156c0,1.782-0.378,3.132-1.134,4.076c-0.297,0.352-0.676,0.756-1.269,1.053
	c-0.594,0.324-1.35,0.54-2.322,0.54c-1.942,0-3.022-0.864-3.589-1.593c-0.756-0.944-1.134-2.294-1.134-4.076v-8.583
	c0-1.755,0.378-3.104,1.134-4.076c0.566-0.729,1.646-1.565,3.589-1.565c1.944,0,3.024,0.837,3.591,1.565
	c0.756,0.972,1.134,2.321,1.134,4.076V840.156z M366.06,831.573c0-3.051-1.296-4.697-3.78-4.697c-2.482,0-3.778,1.646-3.778,4.697
	v8.583c0,3.051,1.323,4.725,3.778,4.725c2.457,0,3.78-1.674,3.78-4.725V831.573z"/>
            <path fill="#FFFFFF" d="M370.785,835.703v-0.972H372c0.352,0,0.999-0.216,1.485-0.702c0.485-0.486,0.891-1.241,0.891-2.43
	c0-0.081,0-0.27-0.027-0.594c-0.054-0.647-0.27-1.402-0.702-1.97c-0.242-0.298-0.539-0.432-0.944-0.432
	c-0.216,0-0.647,0-0.999,0.377c-0.188,0.189-0.323,0.513-0.459,0.945c-0.135,0.432-0.216,1.025-0.216,1.809v1.269h-0.944v-1.269
	c0-2.727,0.863-4.104,2.618-4.104c1.646,0,2.618,1.62,2.618,3.968c0,1.404-0.485,2.43-1.135,3.104
	c-0.674,0.675-1.511,0.999-2.186,0.999H370.785z"/>
            <rect x="361.998" y="865.973" fill="none" width="168.336" height="136"/>
            <text transform="matrix(1 0 0 1 361.998 873.5723)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. participate on RGSoC
                    as a coach.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. learn to <a
                            class="textlinks" href="https://en.wikipedia.org/wiki/Tao" target="_blank">
                        tao theology </a>.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. advance on <a
                            class="textlinks" href="https://en.wikipedia.org/wiki/Galois_theory" target="_blank">
                        galois theory </a>.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. attend a
                    <a class="textlinks" href="https://www.coursera.org/learn/mathematical-thinking" target="_blank">mathematical
                        logic </a>
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">course.</tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10">5. continue learning
                    german.
                </tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="382.745" y="828.972" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 382.7451 843.2275)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                personal growth
            </text>
            <path fill="#FFFFFF" d="M297.928,1001.936c0,8.245-6.684,14.928-14.928,14.928s-14.928-6.683-14.928-14.928
	s6.684-14.928,14.928-14.928S297.928,993.69,297.928,1001.936"/>
            <polygon fill="#EAF0F0" points="27.721,1214.528 207.523,1210.08 207.523,1020.348 27.721,1024.796 "/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M23.061,984.909h188.405
	c2.591,0,4.691,2.1,4.691,4.691v5.193l8.903,8.352l-8.903,8.35v5.194c0,2.591-2.101,4.692-4.691,4.692H23.061
	c-2.591,0-4.691-2.102-4.691-4.692v-27.089C18.37,987.009,20.47,984.909,23.061,984.909z"/>
            <rect x="33.455" y="1031.929" fill="none" width="168.335" height="176.071"/>
            <text transform="matrix(1 0 0 1 33.4551 1039.5293)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. review book log and
                    book state.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. books to read:
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> a. cleaner code and
                    <a class="textlinks"
                       href="https://www.amazon.com/Clean-Coder-Conduct-Professional-Programmers/dp/0137081073"
                       target="_blank">
                        clean coder </a>.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> b.
                    <a class="textlinks" href="http://www.oreilly.com/pub/pr/1142" target="_blank">
                        security warrior </a>.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> c.
                    <a class="textlinks" href="https://pragprog.com/book/kdnodesec/secure-your-node-js-web-application"
                       target="_blank">
                        secure your node.js application </a>.
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> d.
                    <a class="textlinks" href="https://www.mountaingoatsoftware.com/books/user-stories-applied"
                       target="_blank">
                        users stories applied </a>.
                </tspan>
                <tspan x="0" y="72" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> e.
                    <a class="textlinks" href="http://martinfowler.com/books/refactoring.html" target="_blank">
                        refactoring</a>: improving the
                </tspan>
                <tspan x="0" y="84" fill="#313030" font-family="'OpenSans-Light'" font-size="10">design of existing
                    code.
                </tspan>
                <tspan x="0" y="96" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> f.
                    <a class="textlinks"
                       href="https://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented-ebook/dp/B000SEIBB8#nav-subnav"
                       target="_blank">
                        design patterns </a>: elements of
                </tspan>
                <tspan x="0" y="108" fill="#313030" font-family="'OpenSans-Light'" font-size="10">reusable
                    object-oriented software.
                </tspan>
                <tspan x="0" y="120" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. create a backlog
                    for crypto security
                </tspan>
                <tspan x="0" y="132" fill="#313030" font-family="'OpenSans-Light'" font-size="10">protocols.</tspan>
                <tspan x="0" y="144" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. keep reading papers
                    on the
                </tspan>
                <tspan x="0" y="156" fill="#313030" font-family="'OpenSans-Light'" font-size="10">
                    <a class="textlinks" href="https://cseweb.ucsd.edu/~mihir/crypto-research-papers.html"
                       target="_blank">
                        advanced cryptography </a>.
                </tspan>
            </text>
            <rect x="124.433" y="995.595" fill="none" width="201.254" height="17.334"/>
            <text transform="matrix(1 0 0 1 124.4331 1009.8506)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                book log
            </text>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="1001.936"
                    r="14.928"/>
        </svg>
    </div>

    <div id="monthsfourthtimeline">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px" width="1073px" height="1875.543px" viewBox="0 0 573 1375.543"
             enable-background="new 0 0 573 1375.543"
             xml:space="preserve">
            <path fill="#A0A0A0" d="M284,646.29V147.817V646.29z"/>
            <g>
                <defs>
                    <rect id="SVGID_1_" width="573" height="800"/>
                </defs>
                <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_" overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_2_)" fill="#A0A0A0" d="M284,647.29c-0.552,0-1-0.447-1-1V147.816c0-0.552,0.448-1,1-1s1,0.448,1,1
		V646.29C285,646.843,284.552,647.29,284,647.29"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.006,377.731c0,8.245-6.684,14.928-14.928,14.928
		s-14.928-6.683-14.928-14.928c0-8.245,6.684-14.928,14.928-14.928S298.006,369.486,298.006,377.731"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="283.078" cy="377.731" r="14.928"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.006,529.857c0,8.245-6.684,14.928-14.928,14.928
		s-14.928-6.683-14.928-14.928s6.684-14.928,14.928-14.928S298.006,521.612,298.006,529.857"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="283.078" cy="529.857" r="14.928"/>
                <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M298.928,225.604c0,8.245-6.684,14.928-14.928,14.928
		c-8.245,0-14.928-6.683-14.928-14.928s6.683-14.928,14.928-14.928C292.244,210.677,298.928,217.359,298.928,225.604"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="284" cy="225.604" r="14.928"/>

                <circle clip-path="url(#SVGID_2_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                        cx="284.039" cy="91.188" r="46.15"/>
            </g>
            <text transform="matrix(1 0 0 1 245.0391 102.1885)" fill="#A0A0A0" font-family="Bebas Neue" font-size="22">
                24 months
            </text>
            <polygon fill="#EAF0F0" points="28.447,536.805 208.249,533.566 208.249,395.419 28.447,398.657 "/>
            <g>
                <defs>
                    <rect id="SVGID_3_" width="573" height="800"/>
                </defs>
                <clipPath id="SVGID_4_">
                    <use xlink:href="#SVGID_3_" overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M23.786,359.98h188.405
		c2.591,0,4.691,2.1,4.691,4.691v5.194l8.904,8.351l-8.904,8.35v5.194c0,2.591-2.1,4.692-4.691,4.692H23.786
		c-2.591,0-4.691-2.101-4.691-4.692v-27.089C19.095,362.081,21.195,359.98,23.786,359.98z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M38.518,372.702c0-1.539-0.351-2.349-0.81-2.726
		c-0.459-0.378-1.026-0.378-1.376-0.378c-0.406,0-0.918,0-1.377,0.378c-0.458,0.377-0.81,1.187-0.81,2.726v8.583
		c0,1.593,0.352,2.349,0.81,2.727c0.459,0.378,0.971,0.405,1.377,0.405c0.35,0,0.917-0.027,1.376-0.405s0.81-1.134,0.81-2.727
		V372.702z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M43.486,373.754h-0.944v-1.268c0-1.647,0.324-2.916,0.999-3.806
		c0.512-0.675,1.484-1.512,3.212-1.512c1.215,0,2.267,0.513,2.996,1.377c0.728,0.89,1.187,2.186,1.215,3.698h0.027v0.243h-0.027
		c-0.028,1.268-0.297,2.213-0.703,3.049c-0.404,0.864-0.918,1.566-1.457,2.295c-0.324,0.405-0.648,0.837-0.971,1.35
		c-0.756,1.161-1.377,2.051-1.809,2.888c-0.433,0.864-0.702,1.592-0.837,2.456h5.804v0.945h-6.857
		c0.027-1.296,0.351-2.349,0.837-3.401c0.486-1.053,1.188-2.105,2.051-3.401l0.514-0.756c0.161-0.216,0.323-0.432,0.485-0.675
		c0.54-0.728,1.026-1.349,1.377-2.105c0.351-0.729,0.594-1.566,0.62-2.645v-0.243c-0.08-2.268-1.133-4.104-3.265-4.104
		c-2.133,0-3.267,1.512-3.267,4.347V373.754z M43.486,386.117h7.505v0.945h-8.449v-1.269c0-1.62,0.324-2.969,0.89-4.211
		c0.568-1.241,1.324-2.429,2.268-3.806c0.405-0.567,0.728-1.053,1.053-1.485c0.512-0.674,0.918-1.241,1.215-1.835
		c0.296-0.594,0.459-1.214,0.459-2.078c0-0.324-0.055-0.972-0.271-1.566c-0.243-0.594-0.647-1.08-1.403-1.08
		c-0.297,0-0.703,0-1.053,0.324c-0.351,0.351-0.621,1.053-0.621,2.43v1.268h-0.945v-1.268c0-2.511,0.891-3.725,2.619-3.725
		c1.646,0,2.618,1.484,2.618,3.617c0,1.053-0.216,1.808-0.54,2.483c-0.324,0.674-0.756,1.322-1.295,1.997
		c-0.19,0.243-0.352,0.459-0.514,0.702c-0.161,0.243-0.35,0.486-0.539,0.729c-0.892,1.376-1.647,2.483-2.16,3.644
		c-0.54,1.187-0.837,2.349-0.837,3.86V386.117z"/>
                <rect x="351.345" y="243.84" clip-path="url(#SVGID_4_)" fill="#EAF0F0" width="179.804" height="127.98"/>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M534.769,207.369
		H346.364c-2.592,0-4.691,2.1-4.691,4.691v5.194l-8.904,8.351l8.904,8.35v5.194c0,2.591,2.1,4.692,4.691,4.692h188.404
		c2.591,0,4.691-2.101,4.691-4.692V212.06C539.46,209.469,537.359,207.369,534.769,207.369z"/>
                <rect x="351.345" y="548.041" clip-path="url(#SVGID_4_)" fill="#EAF0F0" width="179.804"
                      height="98.249"/>
                <path clip-path="url(#SVGID_4_)" fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10"
                      d="M534.769,512.148
		H346.364c-2.592,0-4.691,2.1-4.691,4.691v5.193l-8.904,8.352l8.904,8.35v5.194c0,2.591,2.1,4.691,4.691,4.691h188.404
		c2.591,0,4.691-2.101,4.691-4.691V516.84C539.46,514.248,537.359,512.148,534.769,512.148z"/>
                <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M370.785,529.397v-0.972H372c0.352,0,0.999-0.216,1.485-0.702
		c0.485-0.486,0.891-1.241,0.891-2.43c0-0.081,0-0.27-0.027-0.594c-0.054-0.647-0.27-1.402-0.702-1.97
		c-0.242-0.298-0.539-0.432-0.944-0.432c-0.216,0-0.647,0-0.999,0.377c-0.188,0.189-0.323,0.513-0.459,0.945
		c-0.135,0.432-0.216,1.025-0.216,1.809v1.269h-0.944v-1.269c0-2.727,0.863-4.104,2.618-4.104c1.646,0,2.618,1.62,2.618,3.968
		c0,1.404-0.485,2.43-1.135,3.104c-0.674,0.675-1.511,0.999-2.186,0.999H370.785z"/>
            </g>
            <rect x="376.745" y="217.667" fill="none" width="201.255" height="17.333"/>
            <text transform="matrix(1 0 0 1 376.7451 231.9224)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                SECURITY AND CRYPTO
            </text>
            <rect x="361.999" y="252" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 361.999 259.6006)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1.
                    <a class="textlinks" href="https://www.coursera.org/learn/cryptocurrency" target="_blank">start
                        learning </a>
                    about cryptocurren
                </tspan>
                <tspan x="159.819" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">cies.</tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. start reflection on
                    new protocols
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">and paths cryptography
                    has taken.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3</tspan>
                <tspan x="5.708" y="48" font-family="'OpenSans-Light'" font-size="10">. research about
                    <a class="textlinks"
                       href="https://www.edx.org/course/quantum-cryptography-caltechx-delftx-qucryptox" target="_blank">
                        quantum </a> cryptog
                </tspan>
                <tspan x="158.945" y="48" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10">raphy.</tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10">4. start collaborating with Tor.
                </tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10">5. contribute actively to LEAP.
                </tspan>
                <tspan x="0" y="96" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="34.181" y="407" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 34.1807 414.5996)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. keep learning C# and
                    C.
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. keep learning
                    functional program
                </tspan>
                <tspan x="159.893" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">ming</tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3</tspan>
                <tspan x="5.708" y="36" font-family="'OpenSans-Light'" font-size="10">. keep learning Go.</tspan>
                <tspan x="0" y="48" font-family="'OpenSans-Light'" font-size="10">4. start learning about Lisp and
                </tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10">
                    <a class="textlinks"
                       href="https://www.edx.org/course/introduction-functional-programming-delftx-fp101x-0"
                       target="_blank">
                        Haskell</a>.
                </tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10">7. learn more about security ,</tspan>
                <tspan x="0" y="84" font-family="'OpenSans-Light'" font-size="10">penetration, performance testing.
                </tspan>
                <tspan x="0" y="96" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="361.998" y="559.667" fill="none" width="168.336" height="136"/>
            <text transform="matrix(1 0 0 1 361.998 567.2676)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. help new hires either
                    by being
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">onboarding buddy or
                    coach.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. learn coaching
                    methods.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. start doing
                    regurarly tech huddles.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. share technologies
                    with the group
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10">and lead spikes.
                </tspan>
                <tspan x="0" y="72" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="37.078" y="370.666" fill="none" width="201.255" height="17.333"/>
            <text transform="matrix(1 0 0 1 37.0781 384.9219)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P2:
                LANGUAGES AND TECH
            </text>
            <rect x="382.745" y="522.666" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 382.7451 536.9219)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P1:
                client and team
            </text>
            <path fill="#FFFFFF" d="M297.928,685.936c0,8.245-6.684,14.928-14.927,14.928c-8.244,0-14.928-6.683-14.928-14.928
	s6.684-14.928,14.928-14.928C291.244,671.008,297.928,677.69,297.928,685.936"/>
            <path fill="#A0A0A0" d="M284,1112.764V614.29V1112.764z"/>
            <path fill="#A0A0A0" d="M284,1254.643c-0.552,0-1-0.544-1-1.216V647.506c0-0.671,0.448-1.216,1-1.216s1,0.545,1,1.216v605.921
	C285,1254.099,284.552,1254.643,284,1254.643"/>
            <polygon fill="#EAF0F0" points="27.721,780.522 207.523,778.777 207.523,704.348 27.721,706.093 "/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M23.061,668.909h188.405
	c2.591,0,4.691,2.1,4.691,4.691v5.193l8.903,8.352l-8.903,8.35v5.194c0,2.591-2.101,4.692-4.691,4.692H23.061
	c-2.591,0-4.691-2.102-4.691-4.692v-27.089C18.37,671.009,20.47,668.909,23.061,668.909z"/>
            <rect x="33.455" y="715.929" fill="none" width="168.335" height="136"/>
            <text transform="matrix(1 0 0 1 33.4551 723.5293)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. share Quito`s office
                    as a success
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">in greening with other
                    offices.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. Read more about mass
                    surveil
                </tspan>
                <tspan x="146.67" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">lance, open source and
                    climate
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">change.</tspan>
                <tspan x="0" y="60" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="57.353" y="679.595" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 57.3525 693.8506)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                P3:
                climate justice
            </text>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="685.936"
                    r="14.927"/>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="837.001"
                    r="14.928"/>
            <rect x="351.345" y="854.347" fill="#EAF0F0" width="179.804" height="130.562"/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M534.769,818.454H346.364
	c-2.592,0-4.691,2.1-4.691,4.691v5.193l-8.904,8.352l8.904,8.35v5.194c0,2.591,2.1,4.691,4.691,4.691h188.404
	c2.591,0,4.691-2.101,4.691-4.691v-27.089C539.46,820.554,537.359,818.454,534.769,818.454z"/>
            <path fill="#FFFFFF" d="M367.004,840.156c0,1.782-0.378,3.132-1.134,4.076c-0.297,0.352-0.676,0.756-1.269,1.053
	c-0.594,0.324-1.35,0.54-2.322,0.54c-1.942,0-3.022-0.864-3.589-1.593c-0.756-0.944-1.134-2.294-1.134-4.076v-8.583
	c0-1.755,0.378-3.104,1.134-4.076c0.566-0.729,1.646-1.565,3.589-1.565c1.944,0,3.024,0.837,3.591,1.565
	c0.756,0.972,1.134,2.321,1.134,4.076V840.156z M366.06,831.573c0-3.051-1.296-4.697-3.78-4.697c-2.482,0-3.778,1.646-3.778,4.697
	v8.583c0,3.051,1.323,4.725,3.778,4.725c2.457,0,3.78-1.674,3.78-4.725V831.573z"/>
            <path fill="#FFFFFF" d="M370.785,835.703v-0.972H372c0.352,0,0.999-0.216,1.485-0.702c0.485-0.486,0.891-1.241,0.891-2.43
	c0-0.081,0-0.27-0.027-0.594c-0.054-0.647-0.27-1.402-0.702-1.97c-0.242-0.298-0.539-0.432-0.944-0.432
	c-0.216,0-0.647,0-0.999,0.377c-0.188,0.189-0.323,0.513-0.459,0.945c-0.135,0.432-0.216,1.025-0.216,1.809v1.269h-0.944v-1.269
	c0-2.727,0.863-4.104,2.618-4.104c1.646,0,2.618,1.62,2.618,3.968c0,1.404-0.485,2.43-1.135,3.104
	c-0.674,0.675-1.511,0.999-2.186,0.999H370.785z"/>
            <rect x="361.998" y="865.973" fill="none" width="168.336" height="136"/>
            <text transform="matrix(1 0 0 1 361.998 873.5723)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. start researching on
                    universities
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">that have a master on
                    cryptography
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">or philosophy of
                    math.
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. keep learning tao
                    theology.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. learn advanced maths
                    and euclid
                </tspan>
                <tspan x="158.932" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10">ean geometry.</tspan>
                <tspan x="0" y="72" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. keep attending a
                    mathematical
                </tspan>
                <tspan x="0" y="84" fill="#313030" font-family="'OpenSans-Light'" font-size="10">logic course.</tspan>
                <tspan x="0" y="96" fill="#313030" font-family="'OpenSans-Light'" font-size="10">5. continue learning
                    german.
                </tspan>
                <tspan x="0" y="108" font-family="'OpenSans-Light'" font-size="10"></tspan>
            </text>
            <rect x="382.745" y="828.972" fill="none" width="201.255" height="17.334"/>
            <text transform="matrix(1 0 0 1 382.7451 843.2275)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                personal growth
            </text>
            <path fill="#FFFFFF" d="M297.928,1001.936c0,8.245-6.684,14.928-14.928,14.928s-14.928-6.683-14.928-14.928
	s6.684-14.928,14.928-14.928S297.928,993.69,297.928,1001.936"/>
            <polygon fill="#EAF0F0" points="27.721,1230.854 207.523,1226.031 207.523,1020.348 27.721,1025.17 "/>
            <path fill="none" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" d="M23.061,984.909h188.405
	c2.591,0,4.691,2.1,4.691,4.691v5.193l8.903,8.352l-8.903,8.35v5.194c0,2.591-2.101,4.692-4.691,4.692H23.061
	c-2.591,0-4.691-2.102-4.691-4.692v-27.089C18.37,987.009,20.47,984.909,23.061,984.909z"/>
            <rect x="33.455" y="1031.929" fill="none" width="168.335" height="176.071"/>
            <text transform="matrix(1 0 0 1 33.4551 1039.5293)">
                <tspan x="0" y="0" fill="#313030" font-family="'OpenSans-Light'" font-size="10">1. review book log, book
                    state and
                </tspan>
                <tspan x="0" y="12" fill="#313030" font-family="'OpenSans-Light'" font-size="10">adjust book log to new
                    books.
                </tspan>
                <tspan x="0" y="24" fill="#313030" font-family="'OpenSans-Light'" font-size="10">2. books to read:
                </tspan>
                <tspan x="0" y="36" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> a.
                    <a class="textlinks"
                       href="https://books.google.com.ec/books/about/Applied_Cryptography.html?id=VjC9BgAAQBAJ&source=kp_cover&redir_esc=y"
                       target="_blank">
                        applied cryptography </a>.
                </tspan>
                <tspan x="0" y="48" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> b.
                    <a class="textlinks" href="https://pragprog.com/book/jtrap/the-agile-samurai" target="_blank">
                        the agile samurai </a>
                </tspan>
                <tspan x="0" y="60" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> c.
                    <a class="textlinks"
                       href="https://books.google.com.ec/books/about/The_Art_of_Software_Security_Assessment.html?id=t2yA8vtfxDsC&source=kp_cover&redir_esc=y"
                       target="_blank">
                        the art of security assessment </a>.
                </tspan>
                <tspan x="0" y="72" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> d.
                    <a class="textlinks"
                       href="https://books.google.com.ec/books/about/Domain_Driven_Design.html?id=hHBf4YxMnWMC&source=kp_cover&redir_esc=y"
                       target="_blank">
                        domain driven design</a>.
                </tspan>
                <tspan x="0" y="84" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> e.
                    <a class="textlinks"
                       href="https://books.google.com.ec/books/about/Patterns_of_Enterprise_Application_Archi.html?id=vqTfNFDzzdIC&source=kp_cover&redir_esc=y"
                       target="_blank">
                        patterns of enterprise </a> applica
                </tspan>
                <tspan x="153.53" y="84" fill="#313030" font-family="'OpenSans-Light'" font-size="10">-</tspan>
                <tspan x="0" y="96" fill="#313030" font-family="'OpenSans-Light'" font-size="10">tion architecture.
                </tspan>
                <tspan x="0" y="108" fill="#313030" font-family="'OpenSans-Light'" font-size="10"> f.
                    <a class="textlinks" href="http://www.strengthsfinder.com/home.aspx" target="_blank">
                        strengths finder </a>.
                </tspan>
                <tspan x="0" y="120" fill="#313030" font-family="'OpenSans-Light'" font-size="10">3. create a backlog
                    for crypto security
                </tspan>
                <tspan x="0" y="132" fill="#313030" font-family="'OpenSans-Light'" font-size="10">protocols and
                    cryptocurrencies.
                </tspan>
                <tspan x="0" y="144" fill="#313030" font-family="'OpenSans-Light'" font-size="10">4. keep reading papers
                    on
                </tspan>
                <tspan x="0" y="156" fill="#313030" font-family="'OpenSans-Light'" font-size="10">advanced
                    cryptography.
                </tspan>
                <tspan x="0" y="168" fill="#313030" font-family="'OpenSans-Light'" font-size="10">5. prepare for a
                    master degree.
                </tspan>
            </text>
            <rect x="124.433" y="995.595" fill="none" width="201.254" height="17.334"/>
            <text transform="matrix(1 0 0 1 124.4331 1009.8506)" fill="#A0A0A0" font-family="Bebas Neue" font-size="20">
                book log
            </text>
            <circle fill="#FFFFFF" stroke="#A0A0A0" stroke-width="2" stroke-miterlimit="10" cx="283" cy="1001.936"
                    r="14.928"/>
        </svg>
    </div>

    <div class="new-buttons">
        <button class="big-btn" onclick="toggle_visibility('coachingobjectives')">Coaching Objectives
        </button>
    
        <button class="big-btn" onclick="toggle_visibility('literaturebooks')">Literature books
        </button>
        
	<button class="big-btn" onclick="toggle_visibility('personal')">Personal Things
        </button>
    </div>

    <div id="coachingobjectives">
        <li>Help me to develop good 'emotional intelligence': self-awareness, empathy and relationship-building.</li>
        <li>Learn to manage workload, handle stress, ensure work/life balance.</li>
        <li>Guide me into building self-confidence.</li>
        <li>Show me the path into security.</li>
        <li>Back up me. </li>
        <li>Point me to the right people. </li>
    </div>
    <div id="literaturebooks">
        <li>Yasunari Kawabata: El maestro de Go</li>
        <li>Yasunari Kawabata: La bailarina de Izu</li>
        <li>Yasunari Kawabata: El sonido de la montaña</li>
        <li>Yukio Mishima: El mar de la fertilidad (tetralogía)</li>
        <li>Yukio Mishima: Confesiones de una máscara</li>
	<li>Yukio Mishima: El color prohibido</li>
        <li>Kenzaburo Oe: Arrancad las semillas, fusilad a los niños</li>
        <li>Kenzaburo Oe: Una cuestión personal</li>
        <li>John Steinbeck: East of Eden</li>
        <li>Harper Lee: To kill a mockingbird</li>
        <li>Philip Dick: Do androids dream of electric sheep?</li>
        <li>Adams Douglas: The Hitchhiker's Guide to the Galaxy</li>
        <li>Woolf: A room of one's own</li>
        <li>Pasternak: Dr. Zhivago</li>
        <li>Scott Fitzgerald: Tender is the night</li>
        <li>Haruki Murakami: What I Talk About When I Talk About Running</li>
        <li>Charlotte Brontë: Jane Eyre</li>
        <li>Margaret Mitchell: Gone With the Wind</li>
        <li>Michel Houellebecq: Las partículas elementales</li>
        <li>Marguerite Duras: Hiroshima mon amour</li>
        <li>Elizabeth Bishop</li>
        <li>E. E. Cummings</li>
    </div>
    <div id="personal">
        <li>Find Kelvin again</li>
        <li>Cryptography, philosophy of maths.</li>
        <li>Write book.</li>
	<li>Learn composition.</li>
	<li>Play guitar.</li>
    <div id="foot">
        Created by Sofia Celi.
    </div>
</div>
