<div id="main">
<div class='text-center'>
    <div class='visible'>
	    <h1 class="title">Hola tod@s!</h1>
    </div>
</div>
</div>

<div class='row'>
    <button class="btn" onclick="toggle_visibility('comunidadAprendizaje', 'main')">Comunidad de aprendizaje
    </button>

    <button class="btn" onclick="toggle_visibility('monthssecondtimeline', 'main')">32-bit Open Hands
    </button>
</div>

<div id="comunidadAprendizaje">
  <p>bla</p>
</div>

</div>
