@font-face
  font-family: 'Bebas Neue'
  src: url('/fonts/BebasNeue-Regular.ttf');

*:focus
  outline none

body
  background-color: #fafafa;
  font-size: 18px
  font-family: 'Open Sans', sans-serif
  margin: 100px
  line-height: 50%
  color: #7e7e7e

#main 
  display: block

.text-center
  position: absolute
  top: 45%
  left: 50%
  transform: translate(-50%, -50%)
  line-height: 140px
  height: 160px
  overflow:hidden

.visible 
  font-weight: 600
  overflow: hidden
  height: 120px
  padding: 0 40px
  &:before 
    content:'['
    left: 0
    line-height:50px
  &:after 
    content:']'
    position:absolute
    right: 0
    line-height:40px
  &:after, &:before 
    position: absolute
    top: 20px
    font-size: 120px
    -webkit-animation-name: opacity
    -webkit-animation-duration: 2s
    -webkit-animation-iteration-count: infinite
    animation-name: opacity
    animation-duration: 2s
    animation-iteration-count: infinite
 
.row
  text-align: center
  margin-top: 450px

h1
  color: #111111
  font-family: 'Bebas Neue', sans-serif
  font-size: 100px
  letter-spacing: 1px
  display: inline
  float: left
  margin: 0

p
  font-size: 22px
  display: inline-block
  line-height: 30px

a
  text-decoration none
  color #FF851B

.btn
  background-color: #FFFFFF
  cursor: pointer
  display: block
  font-size: 24px
  font-weight: 400
  line-height: 45px
  margin: 0 auto 2em
  max-width: 360px
  position: relative
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle
  width: 100%
  display: inline-block
  margin-right: 20px
  border: 5px solid #ffeb4f
  &:hover
    background: #fafafa
    color: #ffeb4f
    border: 2px solid #fafafa
    border-bottom: 2px solid #ffeb4f
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)

#foot
  margin-top 20px
  padding 20px
  background #d3d3d3
  color #FFFFFF

#comunidadAprendizaje
  top: 10px
  display: none

#bit
  top: 10px
  display: none

.textlinks
  fill: #FF751B

.big-btn
  background-color: #FFFFFF
  color: #FF851B
  cursor: pointer
  font-size: 16px
  font-weight: 400
  line-height: 45px
  margin: 0 auto 2em
  max-width: 250px
  position: relative
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle
  width: 100%
  display: inline-block
  margin-right 20px
  border: 2px solid #FF851B
  &:hover
    background: #fafafa
    font-weight: 900
    letter-spacing: 1px
    color: #FF751B
    border: 2px solid #fafafa
    border-bottom: 2px solid #FF851B
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)

#coachingobjectives
  width 700px
  margin 0px 0px 50px 250px
  display none

#literaturebooks
  display none
  li 
    font-size 1vw

#personal 
  display none

#personalbooks 
  display none

@-webkit-keyframes opacity 
  0%, 100% {opacity:0;}
  50% {opacity:1;}

@-webkit-keyframes change 
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}

@keyframes opacity 
  0%, 100% {opacity:0;}
  50% {opacity:1;}

@keyframes change 
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}

.card
  width: 100%
  padding: 30px
  background: #ffff00
  margin: auto
  transition: .3s ease
  box-shadow: 0 1px 1px rgba(0,0,0,.3)
  &:hover 
    box-shadow: 0 5px 20px rgba(0,0,0,.8)
    transform: translateY(-10px) scale(1.02)
 
.entry-title
  background-position: -100% 0
  background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(22, 160, 133,1.0) 50%);
  background-size: 200%
  background-position: 0 0
  display: inline
  font-size: 80px
  line-height: 1
  transition: .5s ease-in-out
  text-transform: uppercase
  padding-right: 100px
  a 
    color: #000000
  
small
  margin-top: 40px
  font-size: 20px
  display: block
  color: #000000
  text-transform: uppercase

.learning
  width: 100%
  padding: 30px
  margin-top: 40px
  color: #000000
  font-size: 20px

.book-shelf 
  float: left

.logo 
  width: 5em
  height: 5em
  animation: bounceIn 0.6s
  transform: rotate(0deg) scale(1) translateZ(0)
  transition: all 0.4s cubic-bezier(.8,1.8,.75,.75)
  cursor: pointer
  float: left
  margin-left: 30px
  margin-right: 45px

.logo
  &:hover 
    transform: rotate(10deg) scale(1.1)

.bubble 
  fill: #ffff00

.icon  
  fill:  #000000

@keyframes bounceIn 
  &0% 
    opacity: 1
    transform: scale(.3)
  &50% 
    opacity: 1
    transform: scale(1.05)
  &70% 
    opacity: 1
    transform: scale(.9)
  &100% 
    opacity: 1
    transform: scale(1)

.content 
  float: right
  font-size: 14px

.hand 
  padding-top: 20px
  padding-left: 400px

.hand-text 
  color: #000000

.images 
  display: flex
  padding-left: 100px
  padding-top: 20px


