@font-face
  font-family: 'Bebas Neue'
  src: url('/fonts/BebasNeue-Regular.ttf');

*:focus
  outline none

body
  background-color: #fafafa;
  font-size: 18px
  font-family: 'Open Sans', sans-serif
  margin: 100px
  line-height: 50%
  color: #7e7e7e

.text-center
  text-align: center

.row
  text-align: center
  margin-top: 70px

h1
  color: #111111
  font-family: 'Bebas Neue', sans-serif
  font-size: 70px
  letter-spacing: 4px

p
  font-size: 22px
  display: inline-block

a
  text-decoration none
  color #FF851B

.btn
  background-color: #FFFFFF
  color: #FF851B
  cursor: pointer
  display: block
  font-size: 16px
  font-weight: 400
  line-height: 45px
  margin: 0 auto 2em
  max-width: 160px
  position: relative
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle
  width: 100%
  display: inline-block
  margin-right: 20px
  border: 2px solid #FF851B
  &:hover
    background: #fafafa
    font-weight: 900
    letter-spacing: 1px
    color: #FF751B
    border: 2px solid #fafafa
    border-bottom: 2px solid #FF851B
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)

#foot
  margin-top 20px
  padding 20px
  background #d3d3d3
  color #FFFFFF

#monthstimeline
  display: none

#monthssecondtimeline
  display: none

#monthsthridtimeline
  display: none

#monthsfourthtimeline
  display: none

.textlinks
  fill: #FF751B

.big-btn
  background-color: #FFFFFF
  color: #FF851B
  cursor: pointer
  font-size: 16px
  font-weight: 400
  line-height: 45px
  margin: 0 auto 2em
  max-width: 250px
  position: relative
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle
  width: 100%
  display: inline-block
  margin-right 20px
  border: 2px solid #FF851B
  &:hover
    background: #fafafa
    font-weight: 900
    letter-spacing: 1px
    color: #FF751B
    border: 2px solid #fafafa
    border-bottom: 2px solid #FF851B
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)

#coachingobjectives
  width 700px
  margin 0px 0px 50px 250px
  display none

#literaturebooks
  display none
  li 
    font-size 1vw

#personal 
  display none

#personalbooks 
  display none

li
  padding 5px
  line-height 1.2em
